@import "@fontsource/kanit";
@import "@fontsource/raleway";

.forgotPage {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.forgotPage .forgotContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 730px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.leftSide {
  flex: 1;
  background: linear-gradient(135deg, #3f51b5, #5c6bc0);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

}

.rightSide {
  flex: 1;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotPage .paragraphBox {
  text-align: center;
}

.forgotPage .paragraphText {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  line-height: 1.6;
}

.forgotPage .forgotFormBox {
  width: 100%;
  max-width: 400px;
}

.forgotPage .forgotFormBox h4 {
  text-align: center;
  color: #060606;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 16px;
  font-family: "Kanit", serif;
}

.forgotPage .forgotButton {
  margin-top: 12px;
  width: 100%;
  padding: 12px;
  background-color: rgb(89, 64, 250);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  transition: all 0.3s ease-in-out;
}

.forgotPage .forgotButton:hover {
  background-color: rgb(72, 50, 200);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .forgotPage .forgotContainer {
    flex-direction: column;
    width: 90%;
    max-width: 100%;
  }

  .forgotPage .leftSide {
    max-width: 100%;
    padding: 20px;
  }

  .forgotPage .rightSide {
    max-width: 100%;
    padding: 20px;
  }

  .forgotPage .forgotFormBox {
    width: 100%;
    padding: 0 10px;
  }

  .forgotPage .forgotFormBox h4 {
    font-size: 1.5rem;
  }

  .forgotPage .forgotButton {
    width: 100%;
  }

  .paragraphText {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .forgotPage .paragraphText {
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .forgotPage .forgotFormBox h4 {
    font-size: 1.4rem;
  }

  .forgotPage {
    padding: 20px 10px;
  }

  .forgotPage .forgotFormBox {
    padding: 0 10px;
  }
}
